circle.selected {
    stroke: black;
    stroke-width: 2;
    stroke-opacity: 1;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1337;
    background-color: rgba(0,0,0,0.69);
    display: none;
}

.mask-overlay {
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    padding: 25px 50px;
    z-index: 1338;
    background-color: white;
    border-radius: 8px;
    display: none;
}

.mask.active, .mask-overlay.active {
    display: block;
}

.remove-mask-overlay {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

nav {
    text-align: center;
    box-shadow: 0px 1px 10px #c8c8c8;
    padding: 5px;
}

nav .brand {
    font-size: 40px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    padding: 0px 5px;
}

nav ul li:hover {
    border-bottom: 1px solid black;
}

nav ul li a {
    font-size: 20px;
    margin: 0px;
    display: block;
    width:100%;
    height: 100%;
}

h1 {
    font-size: 15;
}

#graph-container {
    width: 100%;
}

.btn-graph-time {
    background-color: white;
    border: 1px solid black;
}

.date > * {
    display: inline-block;
    vertical-align: middle;
}

.date #backward {
    margin-top: 10px;
    margin-right: 15px;
}

.date #forward {
    margin-top: 10px;
    margin-left: 15px;
}

.date, .options-group {
    text-align: center;
}

.options-group .btn {
    opacity: 0.65;
}

.options-group .btn.active {
    opacity: 1;
}

.options-group>.btn:first-child:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.options-group>.btn:not(:first-child):not(:last-child) {
	border-radius: 0;
}

.options-group>.btn:last-child:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.dashboard-title-container > * {
    display: inline-block;
    margin-bottom: 10px;
}

.new-plot-btn {
    margin-left: 25px;
}