<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
    Visualyze
    <% if (typeof title_addon == 'string' && title_addon) { %>
        <%= title_addon %>
    <% } %>
</title>
<meta name="description" content="">
<meta name="author" content="">
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:300,400" rel="stylesheet">
<link rel="stylesheet" href="/css/lib/bootstrap.min.css">
<link rel="stylesheet" href="/css/lib/pikaday.css">
<link rel="stylesheet" href="/css/lib/chosen.min.css">
<link rel="stylesheet" href="/css/style.css">

<script src="/js/lib/jquery-3.1.0.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/d3.min.js"></script>
<script src="/js/lib/moment-with-locales.js"></script>
<script src="/js/lib/pikaday.js"></script>
<script src="/js/lib/chosen.jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/script.js"></script>