<nav>
    <div class="brand"><a href="/">Visualyze</a></div>
    <!--<ul>
        <li><a href="">Dashboard</a></li>
        <li><a href="">Profile</a></li>
    </ul>-->

    <ul>
       <li><a href="/login">Login</a></li>
       <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

<script>
    var socket = io();

    socket.on('connection', function(msg) {
        console.log(msg);
    });
    socket.on('fusion request', function(msg) {
        console.log(msg);
        socket.emit('fusion request', 'from client');
    });
    socket.on('notify', function(msg) {
        console.log(msg);
    });
</script>