<!DOCTYPE html>  
<html lang="en">  
    <head>
        <%- include('partials/header.ejs') %>
    </head>
    <body>
        <%- include('partials/nav.ejs') %>
        <div class="container-fluid">
            <h1>Welcome to Visualyze.</h1>
            <a href="/login"><button class="btn btn-default">Login</button></a>
        </div>
    </body>
</html>